@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.highlight-new {
  background-color: #fde68a;
  cursor: help;
  border-radius: 2px;
  padding: 0 2px;
}

.highlight-weaken {
  background-color: #d1d5db;
  cursor: help;
  border-radius: 2px;
  padding: 0 2px;
}

.highlight-engineering {
  background-color: #93c5fd;
  cursor: help;
  border-radius: 2px;
  padding: 0 2px;
}

